In [25]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("./dictionary.csv")

# Display unique values in the "Category" column and their counts
print(df["Category"].value_counts())

Category
labs                         60
vitals                       52
APACHE covariate             28
demographic                  16
labs blood gas               16
APACHE comorbidity            8
identifier                    3
APACHE prediction             2
APACHE grouping               2
GOSSIS example prediction     1
Name: count, dtype: int64

In [26]:
# Select the desired columns
selected_columns = [
    "Variable Name",
    "Category",
    "Description",
    "Data Type",
    "Unit of Measure",
]

# Set display options to show all rows and columns
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

# Display the full table for all variables
display(df[selected_columns].style.hide(axis="index"))